:root {
  --ff-base: "Barlow Semi Condensed", sans-serif;
  --fw-regular: 500;
  --fw-bold: 600;
  --color-body-bg: #ECF2F8;
  --color-card-moderate-violet: #733FC8;
  --color-card-very-dark-grayish-blue: #48556A;
  --color-card-very-dark-blackish-blue: #19202D;
  --color-card-light-grayish-blue: #ECF2F8;
  --color-card-white: #FFF;
  --color-card-avatar-border: #A775F1;
  --color-card-shadow: #48556A40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: 1.3rem;
  line-height: 1.8rem;
  background-color: var(--color-body-bg);
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.review-card {
  border-radius: 0.8rem;
  padding: 2.6rem 3.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  box-shadow: 4rem 6rem 5rem -4.7rem var(--color-card-shadow);
}
.review-card__header {
  display: flex;
  align-items: center;
  column-gap: 1.7rem;
}
.review-card__author-avatar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.review-card__author-avatar--border {
  border: 2px solid var(--color-card-avatar-border);
}
.review-card__author-data {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.review-card__author-name {
  line-height: 1.3rem;
}
.review-card__author-status {
  font-size: 1.1rem;
  line-height: 1.1rem;
  opacity: 0.5;
}
.review-card__content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.6rem;
  z-index: 2;
}
.review-card__heading {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: normal;
}
.review-card__review {
  opacity: 0.7;
}
.review-card--quotation {
  position: relative;
}
.review-card--quotation::before {
  content: "";
  width: 10.4rem;
  height: 10.2rem;
  background: url("../images/bg-pattern-quotation.svg");
  position: absolute;
  right: 2.4rem;
  top: 0;
}
@media only screen and (min-width: 90em) {
  .review-card--quotation::before {
    right: 8rem;
  }
}

.reviews {
  display: grid;
  grid-template-columns: 32.7rem;
  grid-template-rows: 44.4rem repeat(4, min-content);
  row-gap: 2.4rem;
  padding: 7.1rem 2.4rem;
}
.reviews__1 {
  background-color: var(--color-card-moderate-violet);
  color: var(--color-card-white);
}
.reviews__2 {
  background-color: var(--color-card-very-dark-grayish-blue);
  color: var(--color-card-white);
}
.reviews__3 {
  background-color: var(--color-card-white);
  color: var(--color-card-very-dark-grayish-blue);
}
.reviews__4 {
  background-color: var(--color-card-very-dark-blackish-blue);
  color: var(--color-card-light-grayish-blue);
}
.reviews__5 {
  background-color: var(--color-card-white);
  color: var(--color-card-very-dark-grayish-blue);
}
@media only screen and (min-width: 90em) {
  .reviews {
    grid-template-columns: 25.5rem 1fr 25.5rem 25.5rem;
    grid-template-rows: 28.2rem 26.6rem;
    row-gap: 2.4rem;
    column-gap: 3rem;
    padding: 16.4rem 16.5rem;
  }
  .reviews__1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .reviews__2 {
    grid-row: 1/2;
    grid-column: 3/4;
  }
  .reviews__3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .reviews__4 {
    grid-row: 2/3;
    grid-column: 2/4;
  }
  .reviews__5 {
    grid-row: 1/3;
    grid-column: 4/5;
  }
}

/*# sourceMappingURL=style.css.map */
