@import 'review-card';

.reviews {
    display: grid;
    grid-template-columns: 32.7rem;
    grid-template-rows: 44.4rem repeat(4, min-content);
    row-gap: 2.4rem;

    padding: 7.1rem 2.4rem;

    &__1 {
        background-color: var(--color-card-moderate-violet);
        color: var(--color-card-white);
    }

    &__2 {
        background-color: var(--color-card-very-dark-grayish-blue);
        color: var(--color-card-white);
    }

    &__3 {
        background-color: var(--color-card-white);
        color: var(--color-card-very-dark-grayish-blue);
    }

    &__4 {
        background-color: var(--color-card-very-dark-blackish-blue);
        color: var(--color-card-light-grayish-blue);
    }

    &__5 {
        background-color: var(--color-card-white);
        color: var(--color-card-very-dark-grayish-blue);
    }

    @include media-screen-min($bp-desktop) {
        grid-template-columns: 25.5rem 1fr 25.5rem 25.5rem;
        grid-template-rows: 28.2rem 26.6rem;
        row-gap: 2.4rem;
        column-gap: 3rem;

        padding: 16.4rem 16.5rem;

        &__1 {
            grid-row: 1/2;
            grid-column: 1/3;
        }

        &__2 {
            grid-row: 1/2;
            grid-column: 3/4;
        }

        &__3 {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        &__4 {
            grid-row: 2/3;
            grid-column: 2/4;
        }

        &__5 {
            grid-row: 1/3;
            grid-column: 4/5;
        }
    }
}