:root {
    --ff-base: 'Barlow Semi Condensed', sans-serif;

    --fw-regular: 500;
    --fw-bold: 600;

    --color-body-bg: #ECF2F8;

    --color-card-moderate-violet: #733FC8;
    --color-card-very-dark-grayish-blue: #48556A;
    --color-card-very-dark-blackish-blue: #19202D;
    --color-card-light-grayish-blue: #ECF2F8;
    --color-card-white: #FFF;
    
    --color-card-avatar-border: #A775F1;
    --color-card-shadow: #48556A40;
}

// Breakpoints
// $bp-tablet: 48em; // 768px
$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1.3rem;
    line-height: 1.8rem;
    background-color: var(--color-body-bg);

    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
